<form class="form-inline" (submit)="login($event, username, password)" role="form" style="padding:5px; margin:5px">
<input type="text" id="Username" required="required" #username
 class="form-control mb-2" style="padding:5px; margin:5px" placeholder="Username"/>
<input type="password" id="Password" required="required" #password
 class="form-control mb-2" style="padding:5px; margin:5px" placeholder="Password"/>
<button class="form-control btn-primary" style="padding:5px; margin:5px">Submit</button>
<a class="form-cotrol" href="./projects" style="padding:5px; margin:5px">Forgot Password?</a>
</form>